<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="AutomationTestCases.RegisterUser"/>
      <class name="RoughPKG.TestCase"/>
      <class name="AutomationTestCases.ContactUsForm_TestCasespage_ValidateProductsPage"/>
      <class name="AutomationTestCases.LoginTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
